#ant specific
dist/
build/

#netbeans specific
core
XChangeProcessor/nbproject/*
!XChangeProcessor/nbproject/project.properties
!XChangeProcessor/nbproject/project.xml

XDiffProcessor/nbproject/*
!XDiffProcessor/nbproject/project.properties
!XDiffProcessor/nbproject/project.xml

XYDiffProcessor/nbproject/*
!XYDiffProcessor/nbproject/project.properties
!XYDiffProcessor/nbproject/project.xml

TesteProcessor/nbproject/*
!TesteProcessor/nbproject/project.properties
!TesteProcessor/nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock